.main-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .main-blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-blog .main-left {
  width: 80%;
  max-height: 80vh;
  background-color: #b8dbd9;
  margin: 2em;
  padding: 1em;
  border-radius: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
}

@media (min-width: 768px) {
  .main-blog .main-left {
    width: 30%;
    margin: 0.8em 0 0;
  }
}

.main-blog .main-left .main-left-image {
  /*sticking it to the bottom of the div*/
  margin-top: auto;
  height: auto;
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-blog .main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: unset;
  padding: 0 1em;
}

.main-blog .main-right .main-list {
  overflow-y: hidden;
  list-style: none;
}

@media (min-width: 768px) {
  .main-blog .main-right .main-list {
    overflow-y: scroll;
  }
}

.main-blog .main-right .main-list .link {
  margin: 0.8em 0.8em 1.25em 0.8em;
  padding: 1em;
  width: 90vw;
  height: 18vh;
  background-color: #b8dbd9;
  border-radius: 0.8em;
  -webkit-box-shadow: #9fa9af 0px 2px 8px 0px;
          box-shadow: #9fa9af 0px 2px 8px 0px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .main-blog .main-right .main-list .link {
    width: 60vw;
    height: 13vh;
  }
}

@media (hover: hover) and (pointer: fine) {
  .main-blog .main-right .main-list .link:hover {
    -webkit-box-shadow: #2f4550 0px 2px 8px 0px;
            box-shadow: #2f4550 0px 2px 8px 0px;
  }
  .main-blog .main-right .main-list .link:hover .link-header {
    background-color: #2f4550;
  }
}

.main-blog .main-right .main-list .link .link-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  background-color: #586f7c;
  color: #fdfffc;
  padding: 0.4em;
  border-radius: 0.8em;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .main-blog .main-right .main-list .link .link-header:hover {
    background-color: #2f4550;
    -webkit-box-shadow: #2f4550 0px 2px 8px 0px;
            box-shadow: #2f4550 0px 2px 8px 0px;
  }
}

.main-blog .main-right .main-list .link .link-header > a {
  font-size: 1.2em;
  overflow: hidden;
}

.main-blog .main-right .main-list .link .link-header > a .post-title {
  padding-right: 1em;
  color: #fdfffc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-blog .main-right .main-list .link .post-details-container {
  margin: 0;
}

.main-blog .main-right .main-list .link .post-details-container .post-item {
  color: #011627;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-blog .main-right .main-list .link .post-details-container .post-time {
  font-size: 0.6em;
}

.main-blog .main-right .main-list .link .post-details-container .post-text-laptop {
  display: none;
}

.main-blog .main-right .main-list .link .icons-list-container-mob {
  font-size: 0.8em;
}

.main-blog .main-right .main-list .link > * > * {
  text-decoration: none;
}

.main-blog .main-right .main-right-bottom-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  padding: 0 1em;
  background-color: #b8dbd9;
  border-radius: 0.8em;
}

.main-blog .main-right .main-right-bottom-container .new-post-button {
  text-decoration: none;
  padding: 0.4em 1em;
  color: #fdfffc;
  background-color: #f56c6c;
  border-radius: 0.8em;
  -webkit-transition: color 0.12s ease-in-out, -webkit-transform 0.12s ease-in-out;
  transition: color 0.12s ease-in-out, -webkit-transform 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out, color 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out, color 0.12s ease-in-out, -webkit-transform 0.12s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .main-blog .main-right .main-right-bottom-container .new-post-button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    color: #011627;
  }
}

.main-blog .main-right .main-right-bottom-container .search-mob {
  text-align: center;
  /* padding: 0.5em 0; */
}

.main-blog .main-right .main-right-bottom-container #input {
  border-radius: 0.8em;
  margin: 0.25em;
  padding: 0.5em;
}

.no-posts-p {
  width: 60vw;
  margin: 0.8em 0.8em;
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
/*# sourceMappingURL=blog.css.map */