.main-home{
    overflow-y: overlay;
    overflow-x: hidden;
}

.section{
    position: relative;
    height: 88vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.section:before{
    content: '';
    position: absolute;
    background: url('https://res.cloudinary.com/dnytpilwo/image/upload/v1643197298/Portfolio/images/mountain-range_auqnyz.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}

.section-toggle{
    background-color: #eec170;
}

.section-h1{
    padding: 1rem 3rem 0 1rem;
    margin-left: 11rem;
}

.section-h1-mob{
    margin: 0 auto;
}

.section-h3{
    padding: 1rem 3rem;
}

.section-h3-mob{
    display: none;
}

.section-p{
    padding: 1rem 3rem;
}

/*------------------------------------Intro section--------------------------------------------------------------------------------*/

.hobbies-container{
    height: 15vh;
    margin: 15vh 0;
    display: grid;
}

.hobbies-container-laptop{
    margin: 7vh 0;
}

.hobbies-container-mob{
    margin: 1rem 0;
}

.hobbies-background, .hobbies-intro-appear{
    grid-area: 1/1;
}

/*--seperate div for background so you can style it without affecting the hobbies-intro-appear class--*/

.hobbies-background{
    height: 23vh;
    opacity: 0.2;
    background: url('https://res.cloudinary.com/dnytpilwo/image/upload/v1643104207/Portfolio/images/intro/background_difhh7.jpg');
    background-size: cover;
}

.hobbies-intro-appear{
    margin: 1.5vh auto;
    height: 20vh;
    width: 80vw;
    box-shadow: #586f7c 0px 2px 4px 0px inset;
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.hobbies-intro-appear-mob{
    width: 95vw;
}

.hobbies-intro-line{
    width: 1vw;
    height: 15vh;
    margin-right: 1rem;
    border-right: 1px solid #a8bac5;    
}

.hobbies-intro-span-static{
    font-family: 'Knewave', cursive;
    font-size: 1.1rem;
}

.hobbies-intro-span-static-mob{
    margin: 0 auto;
}

.hobbies-intro-span-rolling{
    font-family: 'Knewave', cursive;
    width: 7rem;
    font-size: 1.4rem;
}

.hobbies-intro-appear > img{
    text-decoration: none;
    width: 18%;
    height: auto;
}

.hobbies-animation{
    animation: oneArmBanditRoll 8s ease-in-out;
    -webkit-animation: oneArmBanditRoll 8s ease-in-out;
    -moz-animation: oneArmBanditRoll 8s ease-in-out;
    -o-animation: oneArmBanditRoll 8s ease-in-out;
    -ms-animation: oneArmBanditRoll 8s ease-in-out;
}

/*-------------------------------------About section--------------------------------------------------------------------------------*/

.about-btn-container{
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.about-btn-container > button{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #586f7c;
    color: #eec170;
    transition: background-color 0.2s ease-in-out;
}

.about-btn-container > button:hover{
    background-color: #3F4A4F;
}

.about-item-container{
    margin: 1rem auto;
    max-width: 1000px;
    padding: 1rem;
    box-shadow: #586f7c 0px 2px 8px 0px;
    background-color: #F7E0B2;
    border-radius: 1.2rem;
    animation: fadeIn 0.2s;
    -webkit-animation: fadeIn 0.2s;
    -moz-animation: fadeIn 0.2s;
    -o-animation: fadeIn 0.2s;
    -ms-animation: fadeIn 0.2s;
    overflow-y: scroll;
}

.about-item-container-grid{
    display: grid;
    height: 50vh;
}

.about-item-container-flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* .about-item-container-landscape{
    height: 35vh;
} */

.about-item-container-flex-portrait{
    margin: 1rem 3rem;
}

/* display grid and than grid area 1/1 so that you end up with 1 column and 1 row for two child divs, 
which are than on top of each other */
.about-img-container, .about-text-container{
    grid-area: 1/1;
}

.about-text-container{
    white-space: pre-line;
}

.about-text-container-flex{
    flex: 2;
}

.about-text-container > h5{
    padding-bottom: 1rem;
    font-size: 1rem;
}

.about-text-container > p{
    font-size: 0.8rem;
}

.about-img-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.about-img-container-touch-portrait{
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.about-img-container-touch-landscape{
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
}

.image1{
    border-radius: 1.2rem;
    opacity: 0.1;
    width: 25%;
    height: auto;
}

.image2{
    border-radius: 1.2rem;
    opacity: 0.1;
    width: 34%;
    height: auto;
}

.image1-laptop{
    width: 20%;
}

.image2-laptop{
    width: 18%;
}

.image1-portrait{
    width: 55%;
    opacity: 0.8;
    margin-bottom: 2rem;
}

.image2-portrait{
    width: 70%;
    opacity: 0.8;
}

.image1-landscape{
    width: 50%;
    opacity: 0.8;
}

.image2-landscape{
    width: 45%;
    opacity: 0.8;
}

.image-hidden{
    display: none;
}

@media (hover: hover) {
    .about-img-container > img:hover {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
        z-index: 999;
        box-shadow: #586f7c 0px 2px 8px 0px;
    }
}

/*---------------------------------------Skills section--------------------------------------------------------------------------*/

.skills-list-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 3rem;
}

.dev-skills-container-laptop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 1rem;  
}

.skills-dev{
    padding-bottom: 0.6rem;
    display: flex;
    align-items: center;
}

.skills-dev > p{
    padding-left: 1rem;
}

.life-skill{
    padding-bottom: 1rem;
}

/*-------------------------------------------Code section-------------------------------------------------------------------------*/

.code-container{
    position: relative;
    max-height: 56vh;
    margin: 0 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.code-block-container{
    background-color: #F3D191;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    box-shadow: #586f7c 0px 2px 8px 0px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    /* stop pointer events on parent than enable them on the children where you want it. Than you get the hover effect on the parent when you hover the children. */
}

@media (hover: hover) {
    .code-block-container:hover{
        opacity: 1;
    }
}

.code-block-container-right{
    background-color: #F7E0B2;
    flex-direction: row-reverse;
}

.code-block-container-portrait{
    margin: 1rem 3rem;
}

.code-block-container-touch{
    opacity: 0.9;
}

.code-block-container-mob{
    display: block;
    padding: 1rem;
    margin: 1rem;
}

.code-img-container > img{
    width: 6rem;
    height: 6rem;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;
    pointer-events: auto;
}

.code-block-container-mob > a{
    float: right;
    margin: 0 0 0.5rem 0.5rem;
    pointer-events: auto;
}

@media (hover: hover) {
    .code-block-container:hover > a > .img-code{
        transform: scale(1.1);
    }
}

.code-block-text-container{
    padding: 0 1rem;
    max-width: 85w;
}

.code-block-title{
    padding-bottom: 0.3rem;
}

.code-block-text{
    font-size: 0.9rem;
}

.code-block-link-container{
    display: flex;
    flex-direction: column;
}

.code-block-link-container > a{
    text-decoration: none;
    max-width: fit-content;
    margin: 0.2rem 0;
    font-style: italic;
    color: #586f7c;
    transition: color 0.2s ease-in;
}

.tooltip{
    display: none;
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #586f7c;
    color: #fdfffc;
    position: absolute;
    z-index: -1;
}

.tooltip-visible{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
} 

@media (hover: hover) {
    .code-block-link-container > a:hover{
        color: #011627;
    }
}

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1;}
  }

  @keyframes oneArmBanditRoll {
        0%, 5% {   transform: translate(0, -20vh);
                    opacity: 0;}
        50% {       transform: translate(0,0);
                    opacity: 1;}
        95%, 100% { transform: translate(0, 20vh);
                    opacity: 0;}
  }

