.main-home {
  overflow-y: overlay;
  overflow-x: hidden;
}

.main-home .section {
  background-color: #F9EACF;
  position: relative;
  height: 89vh;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-home .section > h1 {
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .main-home .section > h1 {
    padding: 1em 3em 0 1em;
    margin: 0 auto;
  }
}

.main-home .section > h3 {
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-home .section > h3 {
    padding: 1em 3em;
  }
}

.main-home .section__p {
  padding: 1em;
  max-width: 900px;
  margin: 1em;
}

@media (min-width: 768px) {
  .main-home .section__p {
    margin: 0 auto;
  }
}

.main-home .section__p__portrait {
  padding: 2em 12em;
}

.main-home .section-toggle {
  background-color: #fdfffc;
}

.main-home .section::before {
  content: '';
  position: absolute;
  background: url("https://res.cloudinary.com/dnytpilwo/image/upload/v1643197298/Portfolio/images/mountain-range_auqnyz.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.04;
}

#home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url("https://res.cloudinary.com/dnytpilwo/image/upload/v1644250750/Portfolio/images/2013-08-14_10.08.45_1_umafbj.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("https://res.cloudinary.com/dnytpilwo/image/upload/v1644250750/Portfolio/images/2013-08-14_10.08.45_1_umafbj.jpg") no-repeat;
  background-size: cover;
  color: #fdfffc;
}

#home > h1 {
  text-align: unset;
  font-size: 6em;
  margin: 3em 1em 0;
}

#home .h1__laptop {
  margin: 0.5em 1em;
}

#home > h2 {
  font-size: 4em;
}

/*------------------------------------Intro section--------------------------------------------------------------------------------*/
.hobbies-intro-span-static {
  font-family: 'Knewave', cursive;
  font-size: 1.1em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hobbies-intro-span-static {
    margin: 0;
  }
}

.hobbies-container {
  height: 15vh;
  margin: 1em 0;
  display: -ms-grid;
  display: grid;
  /*--seperate div for background so you can style it without affecting the hobbies-intro-appear class--*/
}

@media (min-width: 768px) {
  .hobbies-container {
    margin: 15vh 0;
  }
}

@media (min-width: 900px) {
  .hobbies-container {
    margin: 7vh 0;
  }
}

.hobbies-container .hobbies-background, .hobbies-container .hobbies-intro-appear {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.hobbies-container .hobbies-background {
  height: 23vh;
  opacity: 0.2;
  background: url("https://res.cloudinary.com/dnytpilwo/image/upload/v1643104207/Portfolio/images/intro/background_difhh7.jpg");
  background-size: cover;
}

.hobbies-container .hobbies-intro-appear {
  margin: 1.5vh auto;
  height: 20vh;
  width: 95vw;
  -webkit-box-shadow: #586f7c 0px 2px 4px 0px inset;
          box-shadow: #586f7c 0px 2px 4px 0px inset;
  border-radius: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .hobbies-container .hobbies-intro-appear {
    width: 80vw;
  }
}

.hobbies-container .hobbies-intro-appear .hobbies-intro-span-rolling {
  font-family: 'Knewave', cursive;
  width: 6em;
  font-size: 1.4em;
  padding-left: 0.4em;
}

.hobbies-container .hobbies-intro-appear .hobbies-animation {
  animation: oneArmBanditRoll 8s ease-in-out;
  -webkit-animation: oneArmBanditRoll 8s ease-in-out;
  -moz-animation: oneArmBanditRoll 8s ease-in-out;
  -o-animation: oneArmBanditRoll 8s ease-in-out;
  -ms-animation: oneArmBanditRoll 8s ease-in-out;
}

.hobbies-container .hobbies-intro-appear .hobbies-intro-line {
  width: 1vw;
  height: 15vh;
  border-right: 1px solid #a8bac5;
}

.hobbies-container .hobbies-intro-appear > img {
  text-decoration: none;
  width: 18%;
  height: auto;
  margin: 0 1em;
}

/*-------------------------------------About section--------------------------------------------------------------------------------*/
.about-btn-container {
  margin: 0 auto;
  z-index: 1;
}

@media (min-width: 768px) {
  .about-btn-container {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about-btn-container > button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 1em 2.5em;
  margin: 0 0.3em;
  border: none;
  border-radius: 2em;
  background-color: #586f7c;
  color: #F9EACF;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .about-btn-container > button:hover {
    background-color: #011627;
  }
}

@media (min-width: 768px) {
  .about-btn-container > button {
    padding: 0.6em 1.8em;
  }
}

.about-item-container {
  position: relative;
  border: 1em solid transparent;
  max-height: 40vh;
  overflow-y: scroll;
  -webkit-box-shadow: #586f7c 0px 2px 8px 0px;
          box-shadow: #586f7c 0px 2px 8px 0px;
  background-color: #fdfffc;
  border-radius: 1.2em;
  -webkit-animation: fadeIn 0.2s;
          animation: fadeIn 0.2s;
}

@media (min-width: 768px) {
  .about-item-container {
    margin: 1em auto;
    max-width: 1000px;
    max-height: unset;
  }
}

.about-item-container .about-img-container, .about-item-container .about-text-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.about-item-container .about-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-item-container .about-img-container .image1 {
  border-radius: 1.2em;
  opacity: 0.05;
  margin-top: 6rem;
  width: 25%;
  height: auto;
}

.about-item-container .about-img-container .image2 {
  border-radius: 1.2em;
  opacity: 0.05;
  width: 34%;
  height: auto;
}

.about-item-container .about-img-container .image-laptop {
  margin: 0;
  width: 16%;
}

.about-item-container .about-img-container .image1-portrait {
  width: 55%;
  opacity: 0.8;
  margin-bottom: 2em;
}

.about-item-container .about-img-container .image2-portrait {
  width: 70%;
  opacity: 0.8;
}

.about-item-container .about-img-container .image1-landscape {
  margin-left: 0.2em;
  width: 40%;
  opacity: 0.8;
}

.about-item-container .about-img-container .image2-landscape {
  width: 45%;
  opacity: 0.8;
}

@media (hover: hover) and (pointer: fine) {
  .about-item-container .about-img-container > img:hover {
    opacity: 1;
    -webkit-transition: opacity 0.12s ease-in-out;
    transition: opacity 0.12s ease-in-out;
    -webkit-transition: -webkit-box-shadow 0.12s ease-in-out;
    transition: -webkit-box-shadow 0.12s ease-in-out;
    transition: box-shadow 0.12s ease-in-out;
    transition: box-shadow 0.12s ease-in-out, -webkit-box-shadow 0.12s ease-in-out;
    z-index: 999;
    -webkit-box-shadow: #586f7c 0px 2px 8px 0px;
            box-shadow: #586f7c 0px 2px 8px 0px;
  }
}

.about-item-container .about-img-container-touch-portrait {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-item-container .about-img-container-touch-landscape {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-item-container .about-text-container {
  line-height: 1.1em;
  white-space: pre-wrap;
}

.about-item-container .about-text-container > h5 {
  padding-bottom: 1em;
  font-size: 1.2em;
}

.about-item-container .about-text-container > p {
  line-height: 1.25em;
  font-size: 0.9em;
}

.about-item-container .about-text-container-flex {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.about-item-container-grid {
  display: -ms-grid;
  display: grid;
}

.about-item-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-item-container-landscape {
  max-height: 32vh;
}

.about-item-container-flex-portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1em;
  max-width: 600px;
}

/*---------------------------------------Skills section--------------------------------------------------------------------------*/
.skills-list-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1fr;
      grid-template-columns: 1.25fr 1fr;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  padding: 1em;
  margin: 0 1em;
}

@media (min-width: 768px) {
  .skills-list-container {
    -webkit-column-gap: 4em;
            column-gap: 4em;
    padding: 1em 3em;
    margin: 3em auto;
  }
}

@media (min-width: 768px) {
  .skills-list-container .dev-skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
}

.skills-list-container .dev-skills-container .skills-dev {
  padding-bottom: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-list-container .dev-skills-container .skills-dev > p {
  padding-left: 1em;
}

.skills-list-container .dev-skills-container-laptop {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.skills-list-container .life-skills-container .life-skill {
  padding-bottom: 0.7em;
}

/*-------------------------------------------Code section-------------------------------------------------------------------------*/
.code-container {
  position: relative;
  max-height: 56vh;
  margin: 0 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  -webkit-box-shadow: inset 0 5px 8px -4px #586f7c, inset 0 -5px 8px -4px #586f7c;
          box-shadow: inset 0 5px 8px -4px #586f7c, inset 0 -5px 8px -4px #586f7c;
}

@media (min-width: 768px) {
  .code-container {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 800px;
  }
}

.code-container-inside {
  direction: ltr;
}

.code-container-inside .code-block-container {
  display: block;
  background-color: #fdfffc;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  -webkit-box-shadow: #586f7c 0px 2px 8px 0px;
          box-shadow: #586f7c 0px 2px 8px 0px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  /* stop pointer events on parent than enable them on the children where you want it. Than you get the hover effect on the parent when you hover the children. */
}

.code-container-inside .code-block-container .code-img-container {
  float: right;
  margin: 0.5em;
  pointer-events: auto;
}

.code-container-inside .code-block-container .code-img-container img {
  width: 6em;
  height: 6em;
  border-radius: 0.8em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .code-container-inside .code-block-container {
    opacity: 0.6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em auto;
    padding: 0.75em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1000px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .code-container-inside .code-block-container:hover {
    opacity: 1;
  }
  .code-container-inside .code-block-container:hover a > .img-code {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.code-container-inside .code-block-container .code-block-text-container {
  padding: 0 1em;
  max-width: 85w;
}

.code-container-inside .code-block-container .code-block-text-container .code-block-title {
  padding-bottom: 0.3em;
}

.code-container-inside .code-block-container .code-block-text-container .code-block-text {
  font-size: 0.9em;
}

.code-container-inside .code-block-container .code-block-text-container .code-block-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.code-container-inside .code-block-container .code-block-text-container .code-block-link-container > a {
  text-decoration: none;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0.2em 0;
  font-style: italic;
  color: #9fa9af;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

@media (hover: hover) and (pointer: fine) {
  .code-container-inside .code-block-container .code-block-text-container .code-block-link-container > a:hover {
    color: #011627;
  }
}

.code-container-inside .code-block-container-right {
  background-color: #fdfffc;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.code-container-inside .code-block-container-portrait {
  margin: 1em 3em;
}

.code-container-inside .code-block-container-touch {
  opacity: 0.9;
}

.tooltip {
  display: none;
  width: 6em;
  height: 2em;
  border-radius: 0.5em;
  background-color: #586f7c;
  color: #fdfffc;
  position: absolute;
  z-index: -1;
}

.tooltip-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

/*-------------------------------------------Keyframes-------------------------------------------------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes oneArmBanditRoll {
  0%, 5% {
    -webkit-transform: translate(0, -20vh);
            transform: translate(0, -20vh);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    -webkit-transform: translate(0, 20vh);
            transform: translate(0, 20vh);
    opacity: 0;
  }
}

@keyframes oneArmBanditRoll {
  0%, 5% {
    -webkit-transform: translate(0, -20vh);
            transform: translate(0, -20vh);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    -webkit-transform: translate(0, 20vh);
            transform: translate(0, 20vh);
    opacity: 0;
  }
}
/*# sourceMappingURL=home.css.map */