@import '../css/_variables.scss';

.main-new-post{
    grid-area: main; 

    .new-post-form{
        height: 80vh;
        width: 90%;
        margin: 1em auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-lightblue;
        border-radius: 8px;
        
        @include not-mobile{
            max-width: 800px;
        }
        
        .new-blog-header{
            margin: 1em 0;
            width: 0%;
            padding: 0.3em 0;
            color: $color-lightblue;
            background-color: $color-darkdarkgrey;
            transition: width 0.3s ease-out,
                        color 1.5s ease-out;
        }
        
        .new-blog-header.is-active{
            width: 100%;
            color: $color-white;
            text-align: center;
            opacity: 1;
        }
        
        .input-title{
            width: 75%;
            height: 10%;
            margin: 0.5em 0;
            padding: 0.5em;
            border: 4px solid $color-darkgrey;
            border-radius: 0.8em;
        }
        
        .input-text{
            text-decoration: none;
            width: 75%;
            height: 40vh;
            padding: 0.5em;
            margin: 1.5em 0;
            border: 4px solid $color-darkgrey;
            border-radius: 0.8em;
        }

        .new-blog-btn-container{
            width: 0%;
            height: 8vh;
            margin-top: auto;
            margin-bottom: 1em;
            background-color: $color-darkdarkgrey;
            display: flex;
            justify-content: center;
        }
        
        .new-blog-btn-container.is-active{
            width: 100%;
            transition: width 0.3s ease-out,
                        color 1.5s ease-out;

            .new-blog-btn{
                font-weight: bolder;
                padding: 1em 2.5em;
                margin: 0.5em 0;
                border: none;
                border-radius: 0.4em;
                background-color: $color-red;
                color: $color-white;
                letter-spacing: 1px;
                cursor: pointer;
                transition: 0.2s;

                @include not-mobile{
                padding: 0.8em 2em;
                }
            }

            @include on-hover{
                background-color: $color-lightred;
            }
        }
    }
}


*::-webkit-input-placeholder{
    color: color-black;
    opacity: 0.3;
    padding: 0.3em; 
    font-family: inherit;  
}

