.postpage-post {
  background-color: #b8dbd9;
  padding: 1em;
  max-height: 84.5vh;
  margin: 0.5em;
  border-radius: 0.8em;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .postpage-post {
    margin: 2em;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 900px;
  }
}

.postpage-post .postpage-post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f4550;
  border-radius: 0.8em;
  padding: 0.5em;
  white-space: pre-wrap;
}

@media (min-width: 768px) {
  .postpage-post .postpage-post-header {
    padding: 0.3em 2.5em;
    white-space: nowrap;
  }
}

.postpage-post .postpage-post-header > h1 {
  overflow: visible;
  font-size: 1.1em;
  width: 70%;
  padding: 0.2em 0;
  color: #fdfffc;
}

@media (min-width: 768px) {
  .postpage-post .postpage-post-header > h1 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.postpage-post .postpage-post-header > a {
  text-decoration: none;
  background-color: #2f4550;
  color: #fdfffc;
}

.postpage-post .post-overflow-container {
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .postpage-post .post-overflow-container {
    padding: 0 2em;
  }
}

.postpage-post .post-overflow-container > h4 {
  font-size: 0.8em;
  margin-left: 0.8em;
  letter-spacing: 1px;
  width: 30%;
  border-bottom: 2px solid #2f4550;
  padding: 0.8em 2.5em;
  white-space: nowrap;
}

.postpage-post .post-overflow-container > p {
  padding: 0.8em 0.5em;
  line-height: 1.3em;
  border-bottom: 2px solid #2f4550;
}

.postpage-post .post-overflow-container .icons-container-postpage {
  padding: 1.5em 0.5em;
  width: 100%;
}

@media (min-width: 768px) {
  .postpage-post .post-overflow-container .icons-container-postpage {
    width: 30%;
  }
}

.postpage-post .post-overflow-container .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.4em 0;
}

@media (min-width: 768px) {
  .postpage-post .post-overflow-container .comment-form {
    margin: 0.8em 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.postpage-post .post-overflow-container .comment-form label {
  display: none;
}

.postpage-post .post-overflow-container .comment-form #inputComment {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #011627;
  border-radius: 0.8em;
  padding: 0.5em;
  margin-left: 1.5em;
}

.postpage-post .post-overflow-container .comment-form > button {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 1.5em;
  border: none;
  background-color: #f56c6c;
  color: #fdfffc;
  letter-spacing: 1px;
  border-radius: 0.4em;
  cursor: pointer;
  padding: 0.4em 1em;
}

@media (min-width: 768px) {
  .postpage-post .post-overflow-container .comment-form > button {
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (hover: hover) and (pointer: fine) {
  .postpage-post .post-overflow-container .comment-form > button:hover {
    background-color: #f18080;
  }
}

.postpage-post .post-overflow-container .comments-container {
  overflow-y: hidden;
  padding: 0.8em 0.8em 0.8em 0;
}

@media (min-width: 768px) {
  .postpage-post .post-overflow-container .comments-container {
    overflow: hidden;
    overflow-y: scroll;
  }
}

.postpage-post .post-overflow-container .comments-container .comments-btn {
  border: none;
  background-color: #2f4550;
  color: #fdfffc;
  border-radius: 0.4em;
  padding: 0.4em 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.postpage-post .post-overflow-container .comments-container .all-comments-btn {
  background-color: #f56c6c;
}

@media (hover: hover) and (pointer: fine) {
  .postpage-post .post-overflow-container .comments-container .all-comments-btn:hover {
    background-color: #f18080;
  }
}

.postpage-post .post-overflow-container .comments-container .comment {
  padding: 0.8em 0.5em;
  margin-bottom: 0.5em;
  background-color: #fdfffc;
  border-radius: 0.4em;
}

.postpage-post .post-overflow-container .comments-container .comment .comment-time {
  padding-bottom: 0.3em;
  font-size: 0.8em;
  opacity: 0.8;
}

.postpage-post-centered {
  margin: 1em auto;
}

.postpage-post-max-height {
  max-height: 78vh;
}
/*# sourceMappingURL=postpage.css.map */